body {
    background-color: #c6e0d6;
}

h1:first-child {
    text-align: center;
}

#game {
    text-align: center;
}

#row1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#row1 p {
    background-color: #d3d3d3;
    border: 1px solid black;
    padding: 15px 25px;
}

/*#row2 div {
    display: flex-inline;
    justify-content: space-around;
    border: 2px solid black;
}*/

.transparent {
    color: transparent;
}

#controls {
    text-align: center;
    margin-top: 50px;
}

input {
    padding: 14px 0;
    width: 20%;
    font-size: 18px;
}

button {
    background-color: #cdc6dd;
    border: none;
    color: #4F57AA;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

button:hover {
    color: white;
    background-color: #4F57AA;
    cursor: pointer;
}

#graveyard {
    width: 100%;
}

#graveyard p {
    display: inline-flex;
    justify-content: center;
    margin: 0 0 10px 0;
}